<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap="15px" style="padding: 30px;">
    <mat-card>
        <img mat-card-image src="../../assets/images/fit1.jpg" alt="Fitness">
        <mat-card-content>
            <h1>ACTIVITY</h1>
            <p>Stay active and enjoy better health and more fun!</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-image src="../../assets/images/fit2.jpg" alt="Fitness">
        <mat-card-content>
            <h1>COMMUNITY</h1>
            <p>Get to know other people who share your passion!</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <img mat-card-image src="../../assets/images/fit3.jpg" alt="Fitness">
        <mat-card-content>
            <h1>CHALLENGES</h1>
            <p>Never stop! Dive into new challenges every day</p>
        </mat-card-content>
    </mat-card>
</div>